<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>Comments</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="new-comment" *ngIf="isAuthenticated">
            <span>Add new comment:</span>
            <br>
            <mat-form-field>
                <input matInput type="text" name="comment" placeholder="Comment..." [disabled]="waitForRequest" [(ngModel)]="text" (keyup.enter)="addComment()">
                <button *ngIf="text" matSuffix mat-icon-button aria-label="Clear" (click)="addComment()" [disabled]="waitForRequest">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div *ngFor="let comment of comments" class="comment">
            <img [src]="comment.commentAuthor.image" onError="this.onerror = null; this.src = this.src='assets/images/account-image.svg';"
                width="32px" height="32px" style="margin-right: 8px" class="pull-left">
            <small class="pull-left" style="margin-top: 8px;">
                {{comment.commentAuthor.firstName}} {{ comment.commentAuthor.lastName }} | {{comment.createDate | date:'d.M.yy, h:mm a'}}
            </small>
            <small class="pull-left" style="margin-top: 8px;" *ngIf="comment.commentAuthor.firstName === '' && comment.commentAuthor.lastName === ''">
                {{ comment.commentAuthor.userName }} | {{comment.createDate | date:'d.M.yy, h:mm a'}}
            </small>
            <br>
            <button *ngIf="userName === comment.commentAuthor.userName" class="pull-right" mat-button (click)="removeComment(comment.id)">X</button>
            <br>
            <br>
            <span style="padding-left: 40px;">{{ comment.text }}</span>
        </div>
    </mat-card-content>
</mat-card>