<h2 mat-dialog-title>Update event</h2>
<form #updateMarkerForm="ngForm" (submit)="updateMarker()">
    <mat-dialog-content>
        <mat-form-field class="new-marker-full-width">
            <input matInput placeholder="Name" [(ngModel)]="marker.name" name="Marker-name" #markerNameInput="ngModel" required>
            <mat-error *ngIf="markerNameInput.invalid">
                <span *ngIf="markerNameInput.hasError('required')">* This field is required</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="new-marker-full-width">
            <mat-select placeholder="Event type" [(ngModel)]="marker.type" name="Marker-type">
                <mat-option [value]="0">Other</mat-option>
                <mat-option [value]="1">Cash related</mat-option>
                <mat-option [value]="2">Party</mat-option>
                <mat-option [value]="3">Need a ride</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="new-marker-full-width">
            <textarea matInput placeholder="Description" [(ngModel)]="marker.description" name="Marker-description" matTextareaAutosize
                matAutosizeMinRows="1" matAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        <mat-form-field class="new-marker-full-width">
            <input matInput [matDatepicker]="spicker" placeholder="Choose a start date" [(ngModel)]="marker.startDate" name="Marker-startdate">
            <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
            <mat-datepicker #spicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="new-marker-full-width">
            <input matInput [matDatepicker]="epicker" placeholder="Choose a end date" [(ngModel)]="marker.endDate" name="Marker-enddate">
            <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
            <mat-datepicker #epicker></mat-datepicker>
        </mat-form-field>
        <div class="new-marker-full-width">
            <mat-checkbox [(ngModel)]="marker.isPrivate" name="Marker-isprivate">Private event</mat-checkbox>
        </div>
        <div class="new-marker-full-width">
            <button mat-raised-button (click)="manageInvitations()" type="button" color="primary" style="width: 100%;">Manage invitations ({{ marker.invitations.length }})</button>
        </div>
        <div class="image-opetaion-buttons">
            <button *ngIf="galleryImages.length > 0" mat-raised-button (click)="removeImage()" type="button">Remove</button>
            <input type="file" class="input-file" accept="image/*" (change)="addImage(inputImageChange)" #inputImageChange />
            <button mat-raised-button color="primary" (click)="inputImageChange.click()" type="button">Add image</button>
        </div>
        <ngx-gallery *ngIf="galleryImages.length > 0" [options]="galleryOptions" [images]="galleryImages" #gallery></ngx-gallery>
    </mat-dialog-content>
    <mat-dialog-actions class="pull-right">
        <button mat-raised-button color="primary" type="submit" [disabled]='updateMarkerForm.invalid'>Update</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
