<h2 mat-dialog-title>New event</h2>
<form #addMarkerForm="ngForm" (submit)="saveMarker()">
    <mat-dialog-content>
        <mat-form-field class="new-marker-full-width">
            <input matInput placeholder="Name" [(ngModel)]="marker.name" name="Marker-name">
        </mat-form-field>
        <mat-form-field class="new-marker-full-width">
            <mat-select placeholder="Event type" [(ngModel)]="marker.type" name="Marker-type">
                <mat-option [value]="0">Other</mat-option>
                <mat-option [value]="1">Cash related</mat-option>
                <mat-option [value]="2">Party</mat-option>
                <mat-option [value]="3">Need a ride</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="new-marker-full-width">
            <textarea matInput placeholder="Description" [(ngModel)]="marker.description" name="Marker-description" matTextareaAutosize
                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="new-marker-action-buttons">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
