.fill-remaining-space {
    flex: 1 1 auto;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 600px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
