.the-form {
    min-width: 240px;
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
}

.the-full-width {
    width: 100%;
    min-width: 240px;
    margin-bottom: 3%;
}

.the-inputs {
    margin-bottom: 2%;
}

.the-button {
    float: right;
}

.clearfix {
    clear: both;
    display: block;
}
